<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gxuwz.beethoven">
    <!-- 开启网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/favicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".page.fragment.my.songlist.EditSonglistActivity"></activity>
        <activity android:name=".page.fragment.find.RankingMainActivity" />
        <activity android:name=".OnKAuthActivity" />
        <activity android:name=".SMSActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".page.fragment.member.RechargeActivity" />
        <activity android:name=".page.fragment.my.usermain.UserMainActivity" />
        <activity android:name=".page.fragment.search.SeaSongActivity" />
        <activity android:name=".page.fragment.search.SearchActivity" />
        <activity android:name=".page.fragment.PrincipalSheetActivity" />
        <activity android:name=".page.index.cloudview.videotalk.VideoTalkActivity" />
        <activity android:name=".page.index.cloudview.hotwall.HotWallActivity" />
        <activity android:name=".page.index.findview.yunvillage.YunVillageActivity" />
        <activity android:name=".page.index.findview.chatroom.ChatRoomActivity" />
        <activity android:name=".page.index.findview.imgtexttalk.ITTalkActivity" />
        <activity android:name=".page.index.findview.musiccal.MusicCalActivity" />
        <activity android:name=".page.index.findview.telecastroom.TelecastRoomActivity" />
        <activity android:name=".page.index.findview.songlist.SongListFActivity" />
        <activity android:name=".page.index.findview.spefun.telecast.STelecastActivity" />
        <activity android:name=".page.index.findview.spefun.radiostation.SRadioStationActivity" />
        <activity android:name=".page.index.findview.spefun.rankinglist.RankingListActivity" />
        <activity android:name=".page.index.findview.spefun.slplaza.SLPlazaActivity" />
        <activity android:name=".page.index.findview.spefun.everyrecomm.EveryRecommActivity" />
        <activity android:name=".page.fragment.my.follow.FollowActivity" />
        <activity android:name=".page.fragment.my.collect.CollectActivity" />
        <activity android:name=".page.fragment.my.radiostation.RadioStationActivity" />
        <activity android:name=".page.fragment.my.downmanage.DownLoadActivity" />
        <activity android:name=".page.fragment.playview.ActivityPlayView" />
        <activity
            android:name=".page.fragment.my.localmusic.LocalMusicActivity"
            android:exported="true" />
        <activity android:name=".page.fragment.my.songlist.SongListActivity" />
        <activity android:name=".page.index.Index" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MusicService" />
        <service android:name=".service.DownloadService" />

        <meta-data
            android:name="com.huawei.hms.client.channel.androidMarket"
            android:value="false" />
    </application>

</manifest>